# dependencies
node_modules/

# builds
dist/
release/
win-unpacked/
out/
build/

# cache
.vite/
.cache/
coverage/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# generated
*.zip
*.pdf
*.sqlite
*.db

# env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Electron
*.exe
*.dmg
*.AppImage
